{{extend 'login_layout.html'}}
<!-- Row Start -->
    <div class="row">
      <div class="col-lg-4 col-md-4 col-md-offset-4">
        {{if request.args(0)=='login':}}
        <div class="sign-in-container">
            
            <form action="#" class="login-wrapper" enctype="multipart/form-data" method="post">
                <div class="header">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <h3>Login<img src="{{=URL('static','images/admin/logo1.png')}}" alt="Logo" class="pull-right"></h3>
                      <p>Fill out the form below to login.</p>
                    </div>
                  </div>
                </div>
                <div class="content">
                    <div class="form-group" id="auth_user_email__row">
                        <label class="control-label " for="auth_user_email" id="auth_user_email__label">Correo electrónico
                        </label>
                        {{=form.custom.widget.email}}
                        <span class="help-block">
                        </span>
                    </div>
                    <div class="form-group" id="auth_user_password__row">
                        <label class="control-label" for="auth_user_password" id="auth_user_password__label">Contraseña</label>
                        {{=form.custom.widget.password}}
                        <span class="help-block">
                        </span>
                    </div>

                </div>
                 <div class="actions">
                    <div class="form-group" id="auth_user_remember_me__row">
                        <div class="checkbox">
                            <label id="auth_user_remember_me__label">
                            <input class="boolean" id="auth_user_remember_me" name="remember_me" value="on" type="checkbox">
                            Recuérdame (durante 30 días)</label>
                            <span class="help-block">
                            </span>
                        </div>
                    </div>
                    <div class="form-group" id="submit_record__row">
                        <input class="btn btn-danger" value="Log In" type="submit">

                        <button class="btn btn-default" onclick="window.location='/simpleaa/default/user/register';return false">
                        Sign Up</button>
                        <button class="btn btn-default" onclick="window.location='/simpleaa/default/user/request_reset_password';return false">
                        Contraseña perdida</button>

                    </div>
                 </div>
            {{=form.custom.end}}
            </div>
        {{elif request.args(0)=='register':}}
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">

                      Create Account 
                      <span class="mini-title">
                        Simple form for new Accoun <a id="create-account">t</a>
                      </span>
                    </div>
                  </div>
                  <div class="widget-body">
                    <form action="#" class="form-horizontal no-margin" enctype="multipart/form-data" method="post">
                      <div class="form-group">
                        <label for="userName" class="col-sm-3 control-label">{{=form.custom.label.first_name}}</label>
                        <div class="col-sm-9">
                          {{=form.custom.widget.first_name}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="userName" class="col-sm-3 control-label">{{=form.custom.label.last_name}}</label>
                        <div class="col-sm-9">
                          {{=form.custom.widget.last_name}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="emailId" class="col-sm-3 control-label">{{=form.custom.label.email}}</label>
                        <div class="col-sm-9">
                          {{=form.custom.widget.email}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="pwd" class="col-sm-3 control-label">{{=form.custom.label.password}}</label>
                        <div class="col-sm-9">
                          {{=form.custom.widget.password}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="rptPwd" class="col-sm-3 control-label">{{=form.custom.label.password_two}}</label>
                        <div class="col-sm-9">
                          {{=form.custom.widget.password_two}}
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                          <button type="submit" class="btn btn-info">Create Account</button>
                          <a href="{{=URL('default','user/login')}}" class="btn btn-danger">Cancelar</a>
                        </div>
                      </div>
                    {{=form.custom.end}}
                  </div>
                </div>
              </div>
        {{elif request.args(0)=='request_reset_password':}}
            {{=form.custom.begin}}
            <div class="header">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <h3>Login<img src="{{=URL('static','images/admin/logo1.png')}}" alt="Logo" class="pull-right"></h3>
                      <p>Fill out the form below to login.</p>
                    </div>
                  </div>
                </div>
                <div class="content">
                    <div class="form-group" id="auth_user_email__row">
                        <label class="control-label " for="auth_user_email" id="auth_user_email__label">Correo electrónico
                        </label>
                        {{=form.custom.widget.email}}
                        <span class="help-block">
                        </span>
                    </div>
                </div>
                 <div class="actions">
                    <div class="form-group" id="submit_record__row">
                        <input class="btn btn-info" value="Solicitar reinicio de contraseña" type="submit">
                        <a href="{{=URL('default','user/login')}}" class="btn btn-danger">Cancelar</a>
                    </div>
                 </div>
            {{=form.custom.end}}
        {{pass}}
      </div>
    </div>
    <!-- Row End -->

{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}




