<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/admin/bootstrap.min.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <link rel="shortcut icon" href="img/favicon.ico">
    <!--css del template-->
    <link href="{{=URL('static','css/admin/new.css')}}" rel="stylesheet"> 
    <link href="{{=URL('static','css/admin/charts-graphs.css')}}" rel="stylesheet">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" type="text/css" href="css/{{=URL('static','css/admin/datepicker.css')}}">

    <link href="{{=URL('static','fonts/admin/font-awesome.min.css')}}" rel="stylesheet">

    <!--css del template-->


    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <!--<div class="flash alert alert-dismissable">{{=response.flash or ''}}</div>-->
    <!-- Header Start -->
    <header>
      <a href="index-2.html" class="logo">
        <img src="{{=URL('static','img/logo.png')}}" alt="Logo"/>
      </a>
      <div class="pull-right">
        <ul id="mini-nav" class="clearfix">
          <li class="list-box hidden-xs">
            <a href="#" data-toggle="modal" data-target="#modalMd">
              <span class="text-white">Code</span> <i class="fa fa-code"></i>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="modalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-danger" id="myModalLabel5">Coding Style </h4>
                  </div>
                  <div class="modal-body">
                    <img src="{{=URL('static','img/documentation.png')}}" alt="Esquare Admin">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-box dropdown">
            <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-film"></i>
            </a>
            <span class="info-label info-bg">9+</span>
            <ul class="dropdown-menu stats-widget clearfix">
              <li>
                <h5 class="text-success">$37895</h5>
                <p>Revenue <span class="text-success">+2%</span></p>
                <div class="progress progress-mini">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </li>
              <li>
                <h5 class="text-warning">47,892</h5>
                <p>Downloads <span class="text-warning">+39%</span></p>
                <div class="progress progress-mini">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (warning)</span>
                  </div>
                </div>
              </li>
              <li>
                <h5 class="text-danger">28214</h5>
                <p>Uploads <span class="text-danger">-7%</span></p>
                <div class="progress progress-mini">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (danger)</span>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="list-box dropdown">
            <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-calendar"></i>
            </a>
            <span class="info-label success-bg">6</span>
            <ul class="dropdown-menu server-activity">
              <li>
                <p><i class="fa fa-flag text-info"></i> Pending request<span class="time">3 hrs</span></p>
              </li>
              <li>
                <p><i class="fa fa-fire text-warning"></i> Server Crashed<span class="time">3mins</span></p>
              </li>
              <li>
                <p><i class="fa fa-user text-success"></i> 3 New users<span class="time">1 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-bell text-danger"></i>9 pending requests<span class="time">5 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-plane text-info"></i> Performance<span class="time">25 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-envelope text-warning"></i>12 new emails<span class="time">25 min</span></p>
              </li>
              <li>
                <p><i class="fa fa-cog icon-spin text-success"></i> Location settings<span class="time">4 hrs</span></p>
              </li>
            </ul>
          </li>
          <li class="list-box user-profile">
            <a id="drop7" href="#" role="button" class="dropdown-toggle user-avtar" data-toggle="dropdown">
              <img src="{{=URL('static','img/user5.png')}}" alt="Bluemoon User">
              <p> {{if auth.is_logged_in():}}{{=auth.user.first_name}}{{pass}}</p>
            </a>

            <ul class="dropdown-menu server-activity">
              <li>
                <p><i class="fa fa-cog text-info"></i> Account Settings</p>
              </li>
              <li>
                <p><i class="fa fa-fire text-warning"></i> Payment Details</p>
              </li>
              <li>
                <div class="demo-btn-group clearfix">
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-facebook fa-lg icon-rounded info-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-twitter fa-lg icon-rounded twitter-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-linkedin fa-lg icon-rounded linkedin-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-pinterest fa-lg icon-rounded danger-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-google-plus fa-lg icon-rounded success-bg"></i>
                  </a>
                </div>
              </li>
              <li>
                <div class="demo-btn-group clearfix">
                {{if auth.is_logged_in():}}
                  <button href="" onclick="window.location='{{=URL('default','user/logout')}}';" class="btn btn-danger">
                    Logout
                  </button>
                {{else:}}
                  <button id="adminLoginBtn" href="" onclick="window.location='{{=URL('default','user/login')}}';" class="btn btn-success">
                    Login
                  </button>
                {{pass}}
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <!-- Header End -->
    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="main-container">

      <!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">
        <!-- Top Nav Start -->
        <div id='cssmenu'>
          <ul>
            <li class='{{if request.controller == "admin" :}}active{{pass}}'>
              <a href="#"><i class="fa fa-dashboard"></i>inicio</a>
              <ul>
                 <li><a href="{{=URL('admin','index.html')}}">inicio</a></li>
              </ul>
            </li>
            <li class='{{if request.controller == "empresa" :}}active{{pass}}'>
              <a href="{{=URL('empresa','index.html')}}">
                <i class="fa fa-align-justify"></i>
                Empresa
              </a>
            </li>
            <li class='{{if request.controller == "acercade" :}}active{{pass}}'>
              <a href='#'><i class="fa fa-bar-chart-o"></i>Acerca de</a>
              <ul>
                 <li><a href="{{=URL('acercade','index.html')}}">sobre nosotros</a></li>
              </ul>
            </li>
            <li class='{{if request.controller == "mainslide" :}}active{{pass}}'>
              <a href='#'><i class="fa fa-picture-o"></i>Main slide</a>
              <ul>
                 <li><a href="{{=URL('mainslide','index.html')}}">UI Elements</a></li>
              </ul>
            </li>
            <li class='{{if request.controller == "project" :}}active{{pass}}'>
              <a href='#'><i class="fa fa-picture-o"></i>Proyectos</a>
              <ul>
                 <li><a href="{{=URL('proyecto','index.html')}}">productos</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Top Nav End -->

        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
        {{if request.controller == "admin" :}}
          <ul>
            <li><a href="#" class="heading">Dashboard</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="index-2.html" class="selected">Dashboard V1</a>
            </li>
          </ul>
        {{pass}}
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
          {{block center}}
          {{include}}
          {{end}}
        </div>
          <!-- Dashboard Wrapper End -->
    {{block footer}} <!-- this is default footer -->      
    <footer>
      <!--<div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('Powered by')}}
            <a href="http://www.web2py.com/">web2py</a>
          </div>
      </div>-->
      <p>© BlueMoon 2013-15</p>
    </footer>
    {{end}}
    </div>

    
    <!-- The javascript =============================== -->    
    <script src="{{=URL('static','js/admin/jquery.js')}}"></script>
    <script src="{{=URL('static','js/admin/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/admin/jquery.scrollUp.js')}}"></script>
    
    <!-- jQuery UI JS -->
    <script src="{{=URL('static','js/admin/jquery-ui-v1.10.3.js')}}"></script>

    <!-- Just Gage -->
    <script src="{{=URL('static','js/admin/justgage/justgage.js')}}"></script>
    <script src="{{=URL('static','js/admin/justgage/raphael.2.1.0.min.js')}}"></script>

    <!-- Flot Charts -->
    <script src="{{=URL('static','js/admin/flot/jquery.flot.js')}}"></script>
    <script src="{{=URL('static','js/admin/flot/jquery.flot.orderBar.min.js')}}"></script>
    <script src="{{=URL('static','js/admin/flot/jquery.flot.stack.min.js')}}"></script>
    <script src="{{=URL('static','js/admin/flot/jquery.flot.pie.min.js')}}"></script>
    <script src="{{=URL('static','js/admin/flot/jquery.flot.tooltip.min.js')}}"></script>
    <script src="{{=URL('static','js/admin/flot/jquery.flot.resize.min.js')}}"></script>

    <!-- Custom JS -->
    <script src="{{=URL('static','js/admin/menu.js')}}"></script>
    <script src="{{=URL('static','js/admin/custom-index2.js')}}"></script>

    {{block page_js}}
      <script type="text/javascript">
        //ScrollUp
        
        $(function () {
          $.scrollUp({
            scrollName: 'scrollUp', // Element ID
            topDistance: '300', // Distance from top before showing element (px)
            topSpeed: 300, // Speed back to top (ms)
            animation: 'fade', // Fade, slide, none
            animationInSpeed: 400, // Animation in speed (ms)
            animationOutSpeed: 400, // Animation out speed (ms)
            scrollText: 'Top', // Text for element
            activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
          });
        });


      </script>
    {{end page_js}}


    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
  </body>
</html>
