{{extend 'layout_admin.html'}}    
<!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="widget no-margin">
          <div class="widget-header">
            <div class="title">
              Empresa
            </div>
            <span class="tools">
            	{{if dataset:}}
					{{for d in dataset:}}
			            <a href="{{=URL('empresa','edit',args=d.id)}}" class="btn btn-info">Cambiar textos de acerca de <i class="fa fa-cogs"></i></a>
			        {{pass}}
     			{{pass}}
            </span>
          </div>
          <div class="widget-body">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail">
                  {{if dataset:}}
                      {{for d in dataset:}}
                          <img alt="300x200" src="{{=URL('default','download',args=d.logosintipo)}}">
                      
                      <br>
                      <h4 class="center-align-text">{{=d.name}}</h4>
                      <p class="center-align-text">
                        {{=d.slogan}}
                      </p>
                  {{pass}}
                  {{pass}}
                </div>
                <br>
              </div>
              <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
              {{if dataset:}}
				{{for d in dataset:}}
                <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                    <tbody>
                    <tr>
                      <th style="width:40%">
                        Nombre
                      </th>
                      <td class="name">
                        {{=d.name}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Eslogan
                      </th>
                      <td class="name">
                        {{=d.slogan}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Email
                      </th>
                      <td class="name">
                        {{=d.email}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Direccion
                      </th>
                      <td class="name">
                        {{=d.address}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Teléfono
                      </th>
                      <td class="name">
                        +{{=d.phone}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                    <tbody>
                    <tr>
                      <th style="width:40%">
                        Facebook
                      </th>
                      <td class="name">
                        {{=d.facebook}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Tweeter
                      </th>
                      <td class="name">
                        {{=d.tweeter}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Google
                      </th>
                      <td class="name">
                        {{=d.gplus}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Linkedin
                      </th>
                      <td class="name">
                        {{=d.linkedin}}
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Instagram
                      </th>
                      <td class="name">
                        {{=d.instagram}}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <hr>
                <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                    <tbody>
                    <tr>
                      <th style="width:40%">
                        Icono
                      </th>
                      <td class="name">
                        <img alt="150x100" style="max-height=150px;max-width:100px;" src="{{=URL('default','download',args=d.icono)}}">
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Logo completo
                      </th>
                      <td class="name">
                        <img alt="150x100" style="max-height=150px;max-width:100px;" src="{{=URL('default','download',args=d.logocompleto)}}">
                      </td>
                    </tr>
                    <tr>
                      <th style="width:40%">
                        Logo sin tipografía
                      </th>
                      <td class="name">
                        <img alt="150x100" style="max-height=150px;max-width:100px;" src="{{=URL('default','download',args=d.logosintipo)}}">
                      </td>
                    </tr>
                  </tbody>
		        </table>
				{{pass}}
				{{pass}}
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Row End -->

</div>
<!-- Left Sidebar End -->

<!-- Right Sidebar Start -->
<div class="right-sidebar">
<div class="wrapper">
  <div class="list-group no-margin">
    <a href="javascript:;" class="list-group-item">
      <span class="pull-right">
        <i class="fa fa-facebook fa-3x text-facebook"></i>
      </span>
      <h4 class="list-group-item-heading">2,239</h4>
      <p class="list-group-item-text">Shares</p>
    </a>
    <a href="javascript:;" class="list-group-item">
      <span class="pull-right">
        <i class="fa fa-twitter fa-3x text-twitter"></i>
      </span>
      <h4 class="list-group-item-heading">7,689</h4>
      <p class="list-group-item-text">Tweets</p>
    </a>
    <a href="javascript:;" class="list-group-item">
      <span class="pull-right">
        <i class="fa fa-envelope fa-3x text-success"></i>
      </span>
      <h4 class="list-group-item-heading">1,532</h4>
      <p class="list-group-item-text">Mails</p>      
    </a>
    <a href="javascript:;" class="list-group-item">
      <span class="pull-right">
        <i class="fa fa-user fa-3x text-warning"></i>
      </span>
      <h4 class="list-group-item-heading">8710</h4>
      <p class="list-group-item-text">Users</p>      
    </a>
  </div>
</div>
</div>
<!-- Right Sidebar End -->