{{extend 'layout_admin.html'}}
<a href="{{=URL('acercade','index.html')}}" class="btn btn-success">Volver
                <i class="fa fa-cogs"></i>  </a>
                {{=form}}
                {{=dataset}}