{{extend 'layout_admin.html'}}
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          Acerca de
        </div>
        <span class="tools">
          {{if dataset:}}
            {{for d in dataset:}}
              <a href="{{=URL('acercade','edit')}}/{{=d.id}}" class="btn btn-info">Cambiar textos de acerca de
                <i class="fa fa-cogs"></i>  </a>
            {{pass}}
          {{pass}}
        </span>
      </div>
      <div class="widget-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  Sobre Nosotros
                </div>
              </div>
              <div class="widget-body">
              {{if dataset:}}
                {{for d in dataset:}}
                  {{=d.acercade}}
                {{pass}}
              {{pass}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  Mision
                </div>
              </div>
              <div class="widget-body">
                {{if dataset:}}
                  {{for d in dataset:}}
                    {{=d.mision}}
                  {{pass}}
                {{pass}}
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  Vision
                </div>
              </div>
              <div class="widget-body">
              {{if dataset:}}
                {{for d in dataset:}}
                  {{=d.vision}}
                {{pass}}
              {{pass}}
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  Valor
                </div>
              </div>
              <div class="widget-body">
                  {{if dataset:}}
                    {{for d in dataset:}}
                      {{=d.valor}}
                    {{pass}}
                  {{pass}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          Empleados
        </div>
        <span class="tools">
          <a href="{{=URL('acercade','new_employe.html')}}" class="btn btn-success">Agregar Empleado
                <i class="fa fa-cogs"></i>  </a>
        </span>
      </div>
      <div class="widget-body">
        <table class="table table-responsive table-striped table-bordered table-hover no-margin">
          <thead>
            <tr>
              <th style="width:5%">
                Id Empleado
              </th>
              <th style="width:15%">
                Nombre
              </th>
              <th style="width:10%" class="hidden-xs">
                Apodo
              </th>
              <th style="width:5%" class="hidden-xs">
                Genero
              </th>
              <th style="width:10%" class="hidden-xs">
                Cargo
              </th>
              <th style="width:15%" class="hidden-xs">
                Descripcion
              </th>
              <th style="width:5%" class="hidden-xs">
                Avatar
              </th>
              <th style="width:5%" class="hidden-xs">
                Opciones
              </th>
            </tr>
          </thead>
          <tbody>
          {{if dataemploye:}}
            {{for d in dataemploye:}}
              <tr>
                <td>
                  {{=d.user_id}}
                </td>
                <td>
                  <span class="name">
                    {{=d.name}}
                  </span>
                </td>
                <td>
                  {{=d.apodo}}
                </td>
                <td>
                  {{=d.gender}}
                </td>
                <td>
                  {{=d.cargo}}
                </td>
                <td>
                  {{=d.description}}
                </td>
                <td>
                  <img src="{{=URL('default','download',args=d.avatar)}}" style="max-width:75px; max-height: 75px;" alt="">
                </td>
                <td class="hidden-xs">
                  <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
                      Action 
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                      <li>
                        <a href="{{=URL('acercade','edit_employe.html',args=d.id)}}">Editar</a>
                      </li>
                      <li>
                        {{=A('Eliminar',callback=URL('acercade','delete_employe',args=[d.id]),delete='tr')}}
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            {{pass}}
          {{pass}}
          </tbody>
        </table>      
      </div>
    </div>
  </div>
</div>