{{extend 'layout_admin.html'}}

<!-- Row Start -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          Main slide
        </div>
        <span class="tools">
            <a href="{{=URL('mainslide','new.html')}}" class="btn btn-info">Agregar nuevo slide <i class="fa fa-cogs"></i></a>
        </span>	
      </div>
      <div class="widget-body clearfix">
        <div class="row">
        {{if dataset:}}
        	{{for d in dataset:}}
        		<div class="col-sm-6 col-md-4">
		            <div class="thumbnail">
		              <img data-src="holder.js/380x230" alt="380x250" src="{{=URL('default','download',args=d.slide_img)}}" style="width: 380px; height: 230px;">
		              <div class="caption">
		                <h3>{{=d.slide_title}}</h3>
		                <p>{{=d.slide_description}}</p>
		                <p><a href="{{=URL('mainslide','edit.html',args=d.id)}}" class="btn btn-primary" role="button">Editar</a>
		                {{=A('Eliminar',callback=URL('mainslide','delete',args=[d.id]),delete='.col-sm-6',_class='btn btn-default')}}
		              </div>
		            </div>
		          </div>
        	{{pass}}
        {{pass}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row End -->