{{extend 'layout_admin.html'}}
<!-- Row Start -->
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="widget">
		  <div class="widget-header">
		    <div class="title">
		    	Proyectos
		    </div>
		    <span class="tools">
		        <a href="{{=URL('proyecto','new.html')}}" class="btn btn-info">Agregar nuevo proyeto <i class="fa fa-cogs"></i></a>
		    </span>	
		  </div>
		  <div class="widget-body clearfix">
		    <div class="row">
		    	{{if dataset:}}
					{{for d in dataset:}}
		    			<div class="full-content-project col-sm-6 col-md-4">
				            <div class="thumbnail">
				              <img data-src="holder.js/300x180" alt="300x180" src="{{=URL('default','download',args=d.project_img)}}" style="width: 300px; height: 180px;">
				              <div class="caption">
				                <h3>{{=d.project_title}}</h3>
				                <h3>{{=d.client}}</h3>
				                <p>{{=d.project_description}}</p>
				                <p><a href="{{=URL('proyecto','edit.html',args=d.id)}}" class="btn btn-primary" role="button">Editar</a>
				                <a href="{{=URL('proyecto','view.html',args=d.id)}}" class="btn btn-primary" role="button">Ver Detalles</a>
				                {{=A('Eliminar',callback=URL('proyecto','delete',args=[d.id]),delete='.full-content-project',_class='btn btn-default')}}
				              </div>
				            </div>
				          </div>
		    		{{pass}}
				{{pass}}
		    </div>
		  </div>
		</div>
	</div>
</div>
<!-- Row End -->