{{extend 'layout_admin.html'}}
<a href="{{=URL('proyecto','index.html')}}" class="btn btn-info">Volver<i class="fa fa-cogs"></i></a>

<!-- Blog Container Start -->
<div class="blog-container">
      <h1 class="center-align-text">{{=dataset.project_title}}</h1>
      <!-- Row Start -->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <!-- Blog One Starts -->
          <div class="blog-wrapper">
            <img src="{{=URL('default','download',args=dataset.project_img)}}" class="blog-image img-responsive" alt="Bluemoon Blog">
            <div class="blog-body">
              <div class="blog-type">
                <i class="fa fa-picture-o"></i>
              </div>
              <div class="date">
                {{=dataset.fecha}}
              </div>
              <p class="blog-info-lg">
                {{=dataset.project_description}}
              </p>
              <br><br>
              <!-- Row Start -->
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                  <h2>{{=dataset.project_title}}</h2>
                  <p class="blog-info-lg">
                    {{=dataset.project_description}}
                  </p>
                </div>
              </div>
              <!-- Row Ends -->
              <div class="writtern-by clearfix">
                <div class="writer-info">
                  <h4>{{=dataset.client}}</h4>
                </div>
              </div>
              <br><br><br>
            </div>
          </div>
          <!-- Blog One Ends -->
        </div>
      </div>
      <!-- Row Ends -->
</div>
<!-- Blog Container End -->